<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Superhero</title>
    </head>
    <body>

        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1>Superheroes</h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="/home" class="btn btn-outline-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/supers" class="btn btn-outline-primary btn-lg">Superheroes</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/orgs" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Superhero</th>
                            <th>Description</th>
                            <th>Power</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="super : ${supers}">
                            <td th:text="${super.name}"></td>
                            <td th:text="${super.description}"></td>
                            <td th:text="${super.power.name}"></td>
                            <td><a th:href="@{superDetail/{id}(id=${super.id})}">Details</a></td>
                            <td><a th:href="@{editSuper/{id}(id=${super.id})}">Edit</a></td>
                            <td><a th:href="@{deleteSuper/{id}(id=${super.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Super</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addSuper" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="name" 
                                       id="name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description" 
                                       id="description" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="power" class="col-3 col-form-label">
                                Power</label>
                            <div class="col-9">
                                <select id="power" name="powerId" class="form-control" >
                                    <option th:each="power : ${powers}" 
                                            th:value="${power.id}" 
                                            th:text="${power.name}">
                                        Superpower</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-9"> 
                                <div th:each="org : ${orgs}">
                                    <input type="checkbox" name="orgId" th:value="${org.id}" th:text="${org.name}"/><br>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Superhero</button>
                    </form>
                    <br>
                    <button onclick="location.href='/addPower'">Don't see the power you want or need to delete a power?</button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>;